build
.DS_Store
*.o
.idea/
.vscode/
cmake-build-debug/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
aux_progs/CMakeFiles/
aux_progs/Makefile
aux_progs/cmake_install.cmake
aux_progs/gmerge
aux_progs/smallest_4
aux_progs/smallest_grib2
cmake_install.cmake
config.h
tests/CMakeFiles/
tests/CTestTestfile.cmake
tests/Makefile
tests/cmake_install.cmake
wgrib2-config-version.cmake
wgrib2-config.cmake
wgrib2-targets.cmake
wgrib2/CMakeFiles/
wgrib2/Makefile
wgrib2/cmake_install.cmake
wgrib2/gctpc/CMakeFiles/
wgrib2/gctpc/Makefile
wgrib2/gctpc/cmake_install.cmake
wgrib2/gctpc/source/CMakeFiles/
wgrib2/gctpc/source/cmake_install.cmake
wgrib2/libwgrib2.a
wgrib2/wgrib2
wgrib2/wgrib2_meta.h
