# This is the developer workflow for the wgrib2 project.
#
# Kyle Gerheiser, Ed Hartnett
name: developer
on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

# Cancel in-progress workflows when pushing to a branch
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  developer:
    runs-on: ubuntu-latest
    env:
      FC: gfortran
      CC: gcc

    permissions:
      id-token: write
      pages: write

    steps:

    - name: install
      run: |
        sudo apt-get update
        sudo apt-get install libnetcdf-dev libnetcdff-dev netcdf-bin pkg-config
        sudo apt-get install libpng-dev autotools-dev libaec-dev autoconf gcovr doxygen

    - name: cache-jasper
      id: cache-jasper
      uses: actions/cache@v4
      with:
        path: ~/jasper
        key: jasper-${{ runner.os }}-1.900.1

    - name: checkout-jasper
      if: steps.cache-jasper.outputs.cache-hit != 'true'
      uses: actions/checkout@v4
      with:
        repository: jasper-software/jasper
        path: jasper
        ref: version-1.900.1

    - name: build-jasper
      if: steps.cache-jasper.outputs.cache-hit != 'true'
      run: |
        cd jasper
        ./configure --prefix=$HOME/Jasper
        make
        make install

    - name: checkout-sp
      uses: actions/checkout@v4
      with:
        repository: NOAA-EMC/NCEPLIBS-sp
        path: sp
        ref: develop

    - name: build-sp
      run: |
        cd sp
        mkdir build
        cd build
        cmake -DCMAKE_INSTALL_PREFIX=~/sp -DBUILD_8=ON ..
        make -j2
        make install

    - name: checkout-ip
      uses: actions/checkout@v4
      with:
        repository: NOAA-EMC/NCEPLIBS-ip
        path: ip
        ref: v3.3.3
  
    - name: build-ip
      run: |
        cd ip
        mkdir build
        cd build
        cmake .. -DCMAKE_INSTALL_PREFIX=~/ip -DCMAKE_PREFIX_PATH=~/sp
        make -j2
        make install

    - name: checkout-ip2
      uses: actions/checkout@v4
      with:
        repository: NOAA-EMC/NCEPLIBS-ip2
        path: ip2
        ref: develop

    - name: build-ip2
      run: |
        cd ip2
        mkdir build
        cd build
        cmake .. -DCMAKE_INSTALL_PREFIX=~/ip2 -DCMAKE_PREFIX_PATH=~
        make -j2
        make install        

    - name: checkout-ip
      uses: actions/checkout@v4
      with:
        repository: NOAA-EMC/NCEPLIBS-ip
        path: ip
        ref: develop

    - name: build-ip
      run: |
        cd ip
        mkdir build
        cd build
        cmake .. -DCMAKE_INSTALL_PREFIX=~/ip -DCMAKE_PREFIX_PATH=~
        make -j2
        make install        

    - name: checkout
      uses: actions/checkout@v4
      with: 
        path: wgrib2

    - name: cache-data
      id: cache-data
      uses: actions/cache@v4
      with:
        path: ~/data
        key: data-2

    - name: build
      run: |
        cd wgrib2
        mkdir build
        cd build
        export CFLAGS='-Wall -g -fprofile-abs-path -fprofile-arcs -ftest-coverage -O0'        
        export FCFLAGS='-Wall -g -fprofile-abs-path -fprofile-arcs -ftest-coverage -O0'        
        export FFLAGS='-Wall -g -fprofile-abs-path -fprofile-arcs -ftest-coverage -O0'        
        cmake .. -DENABLE_DOCS=ON -DFTP_TEST_FILES=ON -DCMAKE_PREFIX_PATH="~/ip;~/ip2;~/sp" -DTEST_FILE_DIR=/home/runner/data -DUSE_NETCDF4=ON -DUSE_AEC=ON -DUSE_IPOLATES=ON -DUSE_JASPER=ON
        make VERBOSE=1
        ctest --verbose --output-on-failure --rerun-failed
        gcovr --root .. -v  --html-details --exclude ../tests --exclude CMakeFiles --print-summary -o test-coverage.html &> /dev/null
    
    - name: cache-data
      if: steps.cache-data.outputs.cache-hit != 'true'
      run: |
        mkdir ~/data
        cp $GITHUB_WORKSPACE/wgrib2/build/tests/data/* ~/data
        
    - name: upload-test-coverage
      uses: actions/upload-artifact@v4
      with:
        name: wgrib2-test-coverage
        path: |
          wgrib2/build/*.html
          wgrib2/build/*.css

    - name: Upload built documentation
      uses: actions/upload-pages-artifact@v1
      with:
        path: wgrib2/build/docs/html  # Path to the built site files
