# This workflow builds the docs and uploads them to gh-pages branch
# for the wgrib2 project.
#
# Ed Hartnett
name: docs
on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

# Cancel in-progress workflows when pushing to a branch
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-docs:
    runs-on: ubuntu-latest
    env:
      FC: gfortran
      CC: gcc

    permissions:
      id-token: write
      pages: write

    steps:

    - name: install
      run: |
        sudo apt-get update
        sudo apt-get install libnetcdf-dev libnetcdff-dev netcdf-bin pkg-config
        sudo apt-get install libpng-dev libaec-dev doxygen

    - name: cache-jasper
      id: cache-jasper
      uses: actions/cache@v4
      with:
        path: ~/jasper
        key: jasper-${{ runner.os }}-1.900.1

    - name: checkout-jasper
      if: steps.cache-jasper.outputs.cache-hit != 'true'
      uses: actions/checkout@v4
      with:
        repository: jasper-software/jasper
        path: jasper
        ref: version-1.900.1

    - name: build-jasper
      if: steps.cache-jasper.outputs.cache-hit != 'true'
      run: |
        cd jasper
        ./configure --prefix=$HOME/Jasper
        make
        make install

    - name: checkout-ip
      uses: actions/checkout@v4
      with:
        repository: NOAA-EMC/NCEPLIBS-ip
        path: ip
        ref: v5.0.0
  
    - name: build-ip
      run: |
        cd ip
        mkdir build
        cd build
        cmake .. -DCMAKE_INSTALL_PREFIX=~/ip 
        make -j2
        make install

    - name: checkout
      uses: actions/checkout@v4
      with: 
        path: wgrib2

    - name: cache-data
      id: cache-data
      uses: actions/cache@v4
      with:
        path: ~/data
        key: data-2

    - name: build
      run: |
        cd wgrib2
        mkdir build
        cd build
        cmake .. -DENABLE_DOCS=ON -DCMAKE_PREFIX_PATH="~/ip"
        make VERBOSE=1
        
    - name: upload
      uses: actions/upload-artifact@master
      with:
        name: page
        path: wgrib2/build/docs/html
        if-no-files-found: error
        
  deploy-docs:
    runs-on: ubuntu-latest
    needs: build-docs
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}

    permissions:
      id-token: write
      pages: write

    steps:
    - uses: actions/download-artifact@master
      with:
        name: page
        path: .
    - uses: actions/configure-pages@v1
    - uses: actions/upload-pages-artifact@v1
      with:
        path: .
    - id: deployment
      uses: actions/deploy-pages@main

          

